server:
  port: 9001

spring:
  application:
    name: user-service

#Eureka에 등록 가능하게 설정
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka
